.vs/
.vscode/
action/abusefilter_list.csv
action/TextClassifier/
action/user-config.py
action/user-password.py
apicache-py3/
log/
private/
*_config.py
*.pyc
config.ini
cookie.txt
handler.wsgi
pywikibot.lwp
throttle.ctrl
