<!DOCTYPE html>
<html>
<head>
	<title>cvn-smart/blacklist</title>
</head>
<body>
<a href="./status">status</a>
	<a href="./log?type=log">log</a>
	blacklist
	<br>
	<a href="?type=blackipv4">blackipv4</a>
	<a href="?type=blackipv6">blackipv6</a>
	<a href="?type=blackuser">blackuser</a>
	<a href="?type=blackpage">blackpage</a>
	{% if not hidelogin %}
		<form action="?type=login" method="post">
			<input type="hidden" name="logintoken" id="logintoken">
			<button type="submit" name="type" value="login" onclick="return login();">login</button>
		</form>
	{% else %}
		Login as {{ loginname }}
	{% endif %}
	<script type="text/javascript">
		function login() {
			var token = prompt("存取權杖");
			if (token == null) {
				return false;
			}
			logintoken.value = token;
		}
	</script>
	{{ maincontent|safe }}
</body>
</html>
